h3,h1{
   text-align: center;
   


}
table.piz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    


}
body{
    background-color: orange;
    color: white;
    

}