

.loginform{
    width:380px;
    margin-left: 400px;
    margin-right: 40px;
    margin-top: 20px;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.title{
    background-color: #9b0e5c;
    line-height: 100px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 35px;
    color: white;
}
.loginform form{
    padding: 10px 30px 50px 30px;
}
.loginform form .field{
    height: 50px;
    width:100%;
    margin-top: 20px;
    margin-right: 50px;

}
.loginform form .field input{
    height: 100%;
    width:100%;
    line-height: 2px;
    border-radius: 20px;
}
body{
   background-color: rgb(191, 207, 222);
}
.loginform form .field input[type="submit"]{
    color: white;
    background-color: #ba2b7a;
    font-size: 15px;
}
header{
    
    background-color: red;
    color:whitesmoke ;
    padding: 10px;
}
.Thenews:hover{
    color: black;
}