header{
    
    background-color: red;
    color:whitesmoke ;
    padding: 10px;
}
body{
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    width: 450px;
    background-color:whitesmoke;
    border-radius: 15px;

}
.Sign{
    text-align: center;
    background-color: #2596be;
    line-height: 100px;
    font-size: 25px;
    border-radius: 10px 5px 0px 0px;
    font-weight: bold;
}
.under{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    
}
 .main form {
    padding:15px 10px 10px 30px;
    line-height: 55px;
    height: 300x;
    
}
 .main form .field input{
    height: 30px;
 }
 .field input{
    margin-right: 30px;
 }
 .main form input{
    border-radius: 20px;
    line-height: 20px;

 }
 .main form  input[type="submit"]{
    height: 30px;
    width:200px;
    margin-left: 50px;
    background-color: #2596be;
    font-size: 20px;
    font-weight: bold;
 }
 .Thenews:hover{
    color: black;
}