
body{
    background-color:lightgray	;

}
header{
    
    background-color: red;
    color:whitesmoke ;
    padding: 10px;
}
.Thenews{
    margin-left: 100px;
}
.image{
    margin-left: 100px;
    margin-top: 50px;
    
}
.image img{
    width: 1000px;
    height: 400px;
    padding: 10px 15px 10px 20px;
}
.main{
    margin-left: 70px;
    font-size: 23px;
    font-style: oblique;
    border: 1px solid white;
    margin-right: 100px;
    border-radius: 25px;
    
}
.miller {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;

}
.hr{
    margin-left: 20px;
    margin-right: 20px;
}
.miller img{
    border-radius: 50px;
}

.iframe iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 25px;

}
p{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.Thenews:hover{
    color: black;
}