header{
    
    background-color: red;
    color:whitesmoke ;
    padding: 10px;
}

.Thenews{
    margin-left: 100px;
}
.state{
    margin-left: 40px;
    display:flex;
    line-height: 35px;
}
.blue{
    color: blueviolet;
}
.kcr{
    padding:30px 20px 20px 10px;
}
.Thenews:hover{
    color: black;
}